/*
  The Name:Georgia Mechanical
  Author: 
  Support: 
  Description: Georgia Mechanical
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap');

/* font  family  */
.tk-chivo {
    font-family: "Chivo Mono", monospace;
}

.tk-Helvetica {
    font-family: "Helvetica", sans-serif;
}

.tk-Helvetica {
    font-family: "helvetica-neue-condensed", sans-serif;
}
.tk-roboto {
    font-family: "Roboto", sans-serif;
}


body {
    font-size: 19px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Helvetica", sans-serif;
    color: #000;
}

/* lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

/* lenis */

/* scroll bar */
.os-scrollbar-handle {
    background: #C1132A;
}
body>.os-scrollbar {
    z-index: 999;
}
/* scroll bar */

img {
    max-width: 100%;
    height: auto;
}
/* animation */
.animation-line{
    overflow: hidden;
}
/* animation */

/* paralax img */
.trigger-parallax {
    overflow: hidden;
    position: relative;
}

.parallax-img {
    height: calc(100% + 120px);
    width: 100%;
    object-fit: cover;
    transform: translateY(0);
}

/* paralax img */
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-fix {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* container */
.container {
    max-width: 1434px;
}

/* z-index */
.z-4 {
    z-index: 4 !important;
}

/* z-index */

/* input */
input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="number"], 
input[type="password"], 
input[type="url"], 
textarea {
    width: 100%;
    padding: 12px;
    background: #fff;
    border: 1px solid #000;
    color: rgba(80, 80, 80, 0.50);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 1;
}
textarea{
	height: 116px;
}
input:focus , textarea:focus{
	outline: none;
	box-shadow: none;
}
::placeholder {
    color: rgba(80, 80, 80, 0.50);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
/* input */

/* nice select */

.nice-select {
    border-radius: 0;
    border: solid 1px #000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    height: 53px;
    line-height: 53px;
    padding-left: 12px;
    padding-right: 40px;
    overflow: hidden;
    white-space:pre-wrap;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #000;
}
.nice-select .current{
    color: rgba(80, 80, 80, 0.50);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    opacity: 1;
}

.nice-select:after {
    border-bottom: 0;
    margin-top: -10px;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid #505050;
}
.nice-select.open:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
/* nice select */



.mb-p p:last-child{
    margin-bottom: 0;
}

/* heading  style*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-weight: 700;
    line-height: 1.2;
    font-family: "helvetica-neue-condensed", sans-serif;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}



/* all button */
.georgia-btn {
    color: #FFF;
    font-family: "Chivo Mono", monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: #C1132A;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 32px), calc(100% - 27px) 100%, 0 100%);
    padding: 16px 34px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    border: 0;
}

.georgia-btn:hover {
    background-color: #991627;
    color: #fff;
}

.transparent-btn {
    color: #fff;
    padding: 16px 33px;
    position: relative;
    z-index: 1;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 32px), calc(100% - 30px) 100%, 0 100%);
    border: 0;
}
.transparent-btn::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background: #991627;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 31px), calc(100% - 29px) 100%, 0 100%);
    transition: all 0.3s ease-in-out;
}
.transparent-btn:hover {
    color: #C1132A;
    background: #fff;
}
.transparent-btn:hover::before{
    background: #fff;
}
.transparent-btn svg path {
    transition: all 0.3s ease-in-out;
}

.transparent-btn:hover svg path {
    fill: #C1132A;
}
.transparent-red-version {
    color: #991627;
    background: #C1132A;
}
.transparent-red-version::before {
    background: #fff;
}
.transparent-red-version:hover{
    background: #C1132A;
    color: #fff;
}
.transparent-red-version:hover::before{
    background: #C1132A;
}

.single-project-content-area .transparent-red-version{
    padding: 5px 30px 5px 20px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}
.single-project-content-area .transparent-red-version::before{
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 19px), calc(100% - 19px) 100%, 0 100%);
}
.sub-title-btn {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Chivo Mono", monospace;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 14.5px 34px 14.5px 15px;
}

.learn-btn {
    color: #000;
    font-size: 17px;
    text-decoration-line: underline;
    transition: all 0.3s ease-in-out;
}
.learn-btn:hover{
    color: #C1132A;
    text-decoration: none;
}
.learn-btn-2 {
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}
.learn-btn-2:hover{
    color: #000000;
    text-decoration: none;
}
.back-btn {
    color: #C1132A;
    font-family: "Chivo Mono", monospace;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}
.back-btn svg path{
    transition: all 0.3s ease-in-out;
}
.back-btn:hover{
    color: #000000;
}
.back-btn:hover svg path{
    fill:#000000;
}
/* all button */

/* background color */
.bg-lipstick-red {
    background-color: #C1132A;
}

.bg-rangoon-green {
    background-color: #191919;
}
.bg-seashell{
    background-color: #F0F0F0;
}
/* background color */

/* section padding */
.section-padding {
    padding: 128px 0;
}

/* section padding */
/* swiper js */
.tp-project-nav{
    gap: 11px;
}
.tp-swiper-button-next ,
.tp-swiper-button-prev {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: transparent;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.tp-swiper-button-next svg path,
.tp-swiper-button-prev svg path{
    fill: rgba(0, 0, 0, 0.50);
    transition: all 0.3s ease-in-out;
}
.tp-swiper-button-next:hover ,
.tp-swiper-button-prev:hover{
    background-color: #C1132A;
    border-color: #C1132A;
}
.tp-swiper-button-next:hover svg path ,
.tp-swiper-button-prev:hover svg path {
    fill: #fff;
}



/* swiper js */

/* offcanvas */
.offcanvas.show,
.offcanvas.showing {
    visibility: visible;
    opacity: 1;
}

.offcanvas.hiding {
    visibility: hidden;
    opacity: 0;
}

.offcanvas {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 100%;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: #191919;
    transition: all 0.3s ease-in-out;
    transform: none !important;
    opacity: 0;
    border: 0 !important;
}

.offcanvas::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.29);
    width: 103.5vh;
    height: calc(100vh - 105px);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.offcanvas-header {
    padding: 0;
    padding-top: 63px;
}

.offcanvas-body {
    padding: 0;
    padding-top: 65px;
}

.offcanvas-footer {
    padding: 0;
    padding-bottom: 75px;
}

.offcanvas-menu-wrapper {
    padding-left: 74px;
    padding-bottom: 80px;
}
.header-offcanvas.version-2 .main-logo img {
    max-width: 296px;
}
.header-offcanvas.version-2  .offcanvas-header {
    padding: 0;
    padding-top: 56px;
}

/* main menu */
.main-menu {
    width: 470px;
}
.thank-you-contact-info ul ,
.contact-item ul ,
.footer-item ul ,
.team-timeline-wrapper ul ,
.mobile-menu ul,
.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu>ul li {
    position: relative;
    z-index: 1;
}

.main-menu>ul>li {
    display: block;
    margin-bottom: 36px;
}

.mobile-menu ul li>a,
.main-menu>ul li>a {
    color: #FFF;
    font-family: "Chivo Mono", monospace;
    font-size: 55px;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.main-menu ul li:last-child {
    margin-bottom: 0;
}

.social-link-wrapper h5,
.main-menu .emergency-wrapper li>a {
    color: rgba(255, 255, 255, 0.50);
    font-family: "helvetica-neue-condensed", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}

.main-menu .emergency-wrapper .number-link {
    text-decoration: underline;
}

.main-menu .emergency-wrapper {
    margin-top: 68px;
}

.main-menu .emergency-wrapper li {
    margin-bottom: 0;
}

.mobile-menu>ul li>.sub-menu li>a:hover,
.mobile-menu>ul>li.active>a,
.mobile-menu>ul>li:hover>a,
.main-menu>ul li>.sub-menu li>a:hover,
.main-menu>ul>li.active>a,
.main-menu>ul>li:hover>a {
    color: #C1132A;
}

.main-menu .emergency-wrapper li.active>a,
.main-menu .emergency-wrapper li:hover>a {
    color: rgba(255, 255, 255, 1);
}

.main-menu .emergency-wrapper li.active .number-link,
.main-menu .emergency-wrapper li:hover .number-link {
    text-decoration: none;
}

.main-menu ul li>.sub-menu {
    position: absolute;
    left: 100%;
    width: 400px;
    top: 0px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: all 0.3s ease-in-out;
}

.mobile-menu ul li .sub-menu li a,
.main-menu .sub-menu li a {
    color: #FFF;
    font-family: "helvetica-neue-condensed", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.78;
    text-transform: capitalize;
}
.mobile-menu .emergency-wrapper{
  margin-top: 30px;
}
.mobile-menu .emergency-wrapper li>a {
  font-size: 16px;
}
.main-menu>ul>li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-bar-wrapper {
    position: absolute;
    top: 10px;
    left: 448px;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.80);
    transition: all 0.3s ease-in-out;
}

.progress-bar {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 55px;
    width: 2.5px;
    background-color: #C1132A;
    transform: translateX(-50%);
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

/* mobile menu */
.mobile-menu ul li>a {
    font-size: 24px;
}

.mobile-menu>ul>li {
    margin-bottom: 12px;
}

.mobile-menu ul li {
    position: relative;
    z-index: 1;
}

.mobile-menu ul li a {
    position: relative;
    z-index: 1;
}
.mobile-menu ul li.menu-link>a::before {
    content: "";
    position: absolute;
    top: 9px;
    right: -26px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 6px 0px 6px;
    border-color: #FFFFFF transparent transparent transparent;
    transform: rotate(0deg);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}
.mobile-menu ul li.menu-link.active>a::before,
.mobile-menu ul li.menu-link:hover>a::before {
    border-color: #C1132A transparent transparent transparent;
}

.mobile-menu .sub-menu {
    display: none;
    padding-top: 10px;
    padding-left: 20px;
}

.mobile-menu ul li .sub-menu li a {
    font-size: 18px;
}

.mobile-menu ul li.menu-link.active>a::before {
    transform: rotate(-180deg);
}

/* mobile menu */

/* main menu */


/* offcanvas */


/* modal  */
.modal-backdrop {
    --bs-backdrop-bg: #191919;
    --bs-backdrop-opacity: 0.79;
}

.modal {
    --bs-modal-width: 1006px;
    --bs-modal-border-radius: 0;
}
.offcanvas-wrapper-area ,
.modal-body{
    height: 100vh;
    overflow: hidden;
}
.modal-body {
    padding: 0;
}
.modal-content-wrapper {
    max-width: 384px;
    margin-right: 0;
    margin-left: auto;
}

.modal-wrapper-info {
    padding: 81px 83px 62px 83px;
}

.modal-content {
    background-color: transparent;
    border: 0;
}

.modal-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: calc(50% - 44px);
    background-position: top;
}

.modal-area .menu-toogle {
    position: absolute;
    right: 42px;
    top: 36px;
    gap: 9px;
    z-index: 2;
}

.modal-area .close-icon span:first-child {
    transform: rotate(45deg);
}

.modal-area .close-icon span:last-child {
    transform: rotate(-45deg);
    margin-top: -1px;
}

.modal-content-wrapper .georgia-btn {
    margin-top: 6px;
    border: 0;
    clip-path: none;
}

.modal-wrapper-info {
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.modal-wrapper.shape-right-bottom {
    padding-right: 12px;
    padding-bottom: 12px;
}

.modal-wrapper.shape-left-top {
    padding-top: 12px;
    padding-left: 12px;
}

.modal-wrapper.shape-a-clip::after,
.modal-wrapper.shape-clip::before {
    height: 265px;
    width: 265px;
}

/* modal  */


/* header section start */
/* top header */
.header-area {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 99;
}

.main-logo img {
    max-width: 380px;
    transition: all 0.3s ease-in-out;
}

.top-header-caption {
    padding: 8.5px 0;
}

.top-header-caption p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2;
}

.top-header-caption a {
    color: #fff;
    text-decoration: underline;
    text-underline-position: from-font;
    transition: all 0.3s ease-in-out;
}

.top-header-caption a:hover {
    text-decoration: none;
}

.header-wrapper {
    padding: 27px 0;
    transition: all 0.3s ease-in-out;
}
.header-sticky .main-logo img{
    max-width: 296px;
}
.header-sticky .header-wrapper {
    padding: 20px 0;
    background: #191919;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-offcanvas .container,
.header-wrapper .container {
    max-width: 1584px;
}

.right-header-wrapper .georgia-btn {
    padding: 18px 28px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 34px), calc(100% - 24px) 100%, 0 100%);
    border: 0;
}

.right-header-wrapper {
    gap: 34px;
}

.menu-toogle {
    border: 0;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "Chivo Mono", monospace;
    gap: 14px;
    padding: 0;
    transition: all 0.3s ease-in-out;
    min-width: 92px;
    justify-content: end;
}

.menu-toogle:hover {
    color: #C1132A;
}

.menu-toogle:hover .menu-icon span,
.menu-toogle:hover .close-icon span {
    background-color: #C1132A;
}

.close-icon,
.menu-icon {
    height: 13px;
    width: 18px;
    transition: all 0.3s ease-in-out;
    position: relative
}

.menu-icon span {
    display: block;
    background-color: #fff;
    height: 1px;
    width: 18px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0px
}

.menu-icon span:nth-child(2) {
    top: 6px;
}

.menu-icon span:nth-child(3) {
    top: auto;
    bottom: 0;
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.menu-icon.open span:nth-child(1) {
    top: -5px
}

.menu-icon.open span:nth-child(3) {
    top: auto;
    bottom: -5px
}

.close-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    height: 12px;
    width: 18px;
    -webkit-transition: top ease-in-out.3s, -webkit-transform ease-in-out.3s .3s;
    -o-transition: top ease-in-out.3s, transform ease .3s .3s;
    transition: background-color ease-in-out.3s, top ease-in-out.3s, transform ease-in-out.3s .3s, -webkit-transform ease-in-out.3s .3s;
}

.close-icon span {
    display: inline-block;
    background-color: #fff;
    height: 1px;
    width: 18px;
    transition: all 0.5s ease-out;

}

.close-icon:hover {
    color: #C1132A;
}

.close-icon:hover span {
    background-color: #C1132A;
}

.black-version.menu-toogle {
    color: #000000;
}

.black-version .close-icon span {
    background-color: #000000;
}

.black-version.menu-toogle:hover {
    color: #C1132A;
}

.black-version:hover .close-icon span {
    background-color: #C1132A;
}

/* header section end */

/* banner section start */
.banner-area {
    min-height: 100vh;
    padding: 247px 0 200px;
}
.banner-area.about-banner-area {
    min-height: 757px;
    padding: 221px 0 200px;
}
.banner-area .container {
    max-width: 1334px;
}

.banner-content p{
    color: #fff;
    margin-bottom: 0;
}
.education-content p{
    max-width: 925px;
}
.about-banner-area .banner-content p{
    max-width: 768px;
} 
.banner-area.about-banner-area::after ,
.banner-area::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(67, 63, 63, 0.60) 100%);
}
.banner-area.small-banner::after{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(67, 63, 63, 0.79) 100%);
}
.banner-area.small-banner::before{
    display: none;
}
.banner-area.contact-banner::after,
.banner-area.careers-banner::after{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.64) 0%, rgba(67, 63, 63, 0.67) 100%);
}

.banner-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(31, 31, 31, 0.60);
}

.video-item {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.banner-content h1 {
    color: #fff;
    font-size: 100px;
    line-height: 1.16;
    margin-bottom: 36px;
}

.banner-content .long-btn {
    padding: 15px 55px;
    color: rgba(255, 255, 255, 0.7);
}
.banner-content .sub-title-btn {
    margin-bottom: 17px;
}
.inner-page-content h1 {
    margin-bottom: 12px;
    font-size: 96px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.industries-content p{
    max-width: 853px;
}
.industries-content-2 p{
    max-width: 778px;
}
.scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 9;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    color: #fff;
    font-family: "Chivo Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 2.66px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.scroll-btn svg {
    display: inline-block;
    margin-top: 5px;
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.scroll-btn:hover {
    color: #fff;
    opacity: 0.8;
}
.header-fix{
   height: 155px;
   width: 100%;
}
.small-banner .banner-content{
    max-width: 1056px;
}
.banner-area.small-banner {
    min-height: 588px;
    padding: 163px 0 100px;
}
.banner-area.contact-banner {
    min-height: 566px;
    padding: 155px 0 100px;
}
/* banner section end */


/* content block section start */


/* section title */
.white-section .section-title {
    background: #fff;
}

.bg-rangoon-green .section-title {
    background: #191919;
    color: #fff;
}

.title-section-wrapper {
    width: 24px;
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
    z-index: 3;
}

.title-section-wrapper-info {
    height: 100vh;
}

.section-title {
    color: #000;
    font-family: "Chivo Mono", monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 30px 0;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    margin: 0;
}

.title-section-info::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #991627;
    transform: translateX(-50%);
}

/* section title */
.content-block-area {
    padding: 112px 0 121px;
}

.shape-clip,
.shape-a-clip {
    position: relative;
    z-index: 1;
}

.shape-a-clip::after,
.shape-clip::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 132px);
    width: calc(100% - 239px);
    background-color: #D9D9D9;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 0% 100%);
    z-index: -1;
}

.red-version.shape-a-clip::after,
.red-version.shape-clip::before {
    background-color: #C1132A;
}

.shape-a-clip::after {
    top: auto;
    bottom: 0;
}

.shape-left-top {
    padding-top: 22px;
    padding-left: 22px;
}

.shape-right-top {
    padding-top: 22px;
    padding-right: 22px;
}

.shape-right-bottom {
    padding-right: 22px;
    padding-bottom: 22px;
}

.shape-right-bottom::after {
    left: auto;
    right: 0;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);

}

.shape-right-top::before {
    left: auto;
    right: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
}
.shape-left-bottom{
    padding-left: 22px;
    padding-bottom: 22px;
}
.shape-left-bottom::after {
    right: auto;
    top: auto;
    bottom: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.content-block-wrapper h2 {
    margin-bottom: 20px;
}

.content-block-wrapper .georgia-btn {
    margin-top: 8px;
}

.content-block-wrapper {
    max-width: 590px;
    margin-right: 0;
    margin-left: auto;
}

.content-block-wrapper p{
    max-width: 472px;
}

.content-reverse .row {
    flex-direction: row-reverse;
}

.content-block-item {
    margin-bottom: 125px;
}

.content-block-item:last-child {
    margin-bottom: 0;
}

.content-reverse .content-block-wrapper {
    margin-right: auto;
    margin-left: 0;
}

.content-block-area .row {
    --bs-gutter-y: 35px;
}
.about-content-block{
    padding: 138px 0 156px;
}
.construction-content-block ,
.commercial-content-block{
    padding: 125px 0 146px;
}

/* content block section end */


/* industries section start */
.industries-area {
    padding-bottom: 42px;
}

.industries-area .container {
    max-width: 1264px;
}

.industries-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.97;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}
.industries-card::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 1;
    opacity: 0.11;
}
.industries-title {
    position: absolute;
    color: #fff;
    bottom: 21px;
    left: 0;
    text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
    z-index: 3;
    padding: 0 27px;
}

.industries-card img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    z-index: 1;
    width: 100%;
}

.industries-card:hover img {
    transform: scale(1.2);
    width: 100%;
}

.industries-card:hover::before {
    opacity: 0.58;
}

.industries-card:hover:after {
    opacity: 0;
    visibility: hidden
}

.industries-area .row {
    --bs-gutter-x: 18px;
    --bs-gutter-y: 34px;
}

/* industries section end */


/* map section start  */
.map-area {
    padding-bottom: 147px;
}

.map-area h3 {
    position: absolute;
    top: calc(50% - 108px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: "Chivo Mono", monospace;
    font-size: 87px;
    font-weight: 400;
    line-height: 1.03;
    text-transform: uppercase;
    width: 100%;
    padding: 0 34px;
    margin-bottom: 0;
}

/* map section end  */


/* about section start */
.about-area {
    padding: 104px 0 97px;
}

.about-content h2 {
    margin-bottom: 0;
}

.about-img-wrapper {
    margin-top: 85px;
}

.about-img-wrapper .shape-a-clip::after,
.about-img-wrapper .shape-clip::before {
    height: calc(100% - 257px);
    width: calc(100% - 943px);
}

.about-img-wrapper img,
.about-img-wrapper .about-video-item {
    height: 657px;
    width: 100%;
    object-fit: cover;
}

.about-content-info p {
    margin-bottom: 27px;
}

.about-content-info .georgia-btn {
    padding: 15px 45px;
}

/* about section end */

/* cta section start */

.cta-area {
    background-color: #991627;
}

.cta-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(50% + 40px);
    background-position: top;
}
.cta-content {
    max-width: 536px;
    margin-right: 0;
    margin-left: auto;
    padding: 117px 0;
}
.contact-cta .container{
    max-width: 1200px;
}
.contact-cta .cta-content{
    max-width: 518px;
}
.contact-cta .cta-bg {
    width: calc(50% - 163px);
}
.contact-cta  .cta-content {
    padding: 171px 0;
}
.contact-cta  .cta-content .transparent-btn {
    margin-top: 15px;
}
.sub-title {
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    font-family: "Chivo Mono", monospace;
    position: relative;
    z-index: 1;
    margin-bottom: 45px;
}

.sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: translateY(-50%);
    z-index: -1;
}

.sub-title span {
    position: relative;
    z-index: 2;
    background-color: #991627;
    padding-right: 30px;
}

.cta-content p,
.cta-content h2 {
    color: #fff;
}

.cta-content h2 {
    margin-bottom: 22px;
}

.cta-content .transparent-btn {
    margin-top: 25px;
}

/* cta section end */




/* team section start */
.team-area{
    padding: 118px 0 129px;
}
.team-member-wrapper {
    margin-top: 74px;
}
.team-info{
    margin-top: 25px;
}
.team-info h4{
    font-size: 37px;
}
.team-info.text-center p {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
}
.team-member-wrapper .row {
    --bs-gutter-x: 35px;
    --bs-gutter-y: 87px;
}
.red-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.red-hover-div:hover .red-hover{
    background: rgba(193, 19, 42, 0.65);
    opacity: 1;
    visibility: visible;
}

/* team section end */

/* single team section start */
.team-member-info h2{
    margin-bottom: 4px;
}
.timeline-title ,
.team-member-info  p{
    color: #C1132A;
    font-family: "helvetica-neue-condensed", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
}
.team-member-info {
    margin-bottom: 30px;
}
.team-content-title {
    color: #C1132A;
    font-family: "Helvetica", sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 3px;
}
.team-content-inner-info p {
    margin-bottom: 27px;
}
.team-member-content-info {
    margin-bottom: 30px;
}
.team-member-content-info:last-child{
    margin-bottom: 0;
}
.team-timeline-wrapper {
    margin-top: 55px;
    background: rgba(240, 240, 240, 0.60);
    padding: 29px 38px 25px 38px;
    max-width: 738px;
}
.team-timeline-wrapper .timeline-title{
    margin-bottom: 19px;
}
.team-timeline-wrapper ul li{
    color: #000;
    font-size: 19px;
    line-height: 2.20;
}
.team-timeline-wrapper ul li span{
    color: #C1132A;
}
.single-team-area .container{
    max-width: 1308px;
}
.single-team-area .container .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 35px;
}
.single-team-img.shape-left-top {
    padding-top: 10px;
    padding-left: 10px;
}
.single-team-img.shape-a-clip::after, 
.single-team-img.shape-clip::before {
    height: 328px;
    width: 333px;
}
.single-team-area {
    padding: 67px 0 108px;
}
.back-btn-wrapper{
    margin-bottom: 61px;
}
.single-team-wrapper .col:nth-child(1) {
    max-width: 442px;
}

.single-team-information {
    max-width: 823px;
    padding-left: 66px;
}
.pagination-area .container{
    max-width: 1272px;
}
.pagination-wrapper {
    border-top: 2px solid rgba(0, 0, 0, 0.30);
    padding-top: 44px;
}
.single-team-wrapper {
    margin-bottom: 91px;
}
.pagination-btn {
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #000;
    font-family: "helvetica-neue-condensed", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    transition: all 0.3s ease-in-out;
}
.svg-icon {
    height: 67px;
    width: 67px;
    border-radius: 6px;
    border: 1px solid #C1132A;
    background: #C1132A;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.svg-icon svg{
    transform: translateX(-2px);
}
.pagination-next .svg-icon svg{
    transform: translateX(2px);
}
.pagination-btn .svg-icon svg path{
    transition: all 0.3s ease-in-out;
}
.pagination-btn:hover{
    color: #C1132A;
}
.pagination-btn:hover .svg-icon{
    border-color: #000;
    background: transparent;
}
.pagination-btn:hover .svg-icon svg path{
    fill: #C1132A;
}
/* single team section end */


/* featured project section start */
.featured-project-area{
    padding: 102px 0; 
}
.project-content-info{
    margin-top: 23px;
}
.featured-project-slider {
    overflow: inherit;
    margin-top: 50px;
}
.featured-project-slider.shape-a-clip::after, .featured-project-slider.shape-clip::before {
    height: calc(50% + 210px);
    width: calc(50% - 251px);
}
.featured-project-slider.shape-left-top {
    padding-top: 15px;
    padding-left: 15px;
}

/* featured project section end */




/* single project section start */
.single-project-content-area{
    padding: 100px 0;
}
.related-projects-area .container ,
.single-project-content-area  .container{
    max-width: 1232px;
}
.application-content h1 ,
.thank-you-content h1 ,
.team-member-info h1 ,
.location-content-title h1{
    font-size: 60px;
}
.location-caption{
    gap: 8px;
}
.location-content-info {
    max-width: 492px;
    margin-right: 0;
    margin-left: auto;
}
.single-project-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 22px 20px 14px 20px;
}
.single-project-button {
    height: 91px;
    width: 91px;
    background: #C1132A;
    border: 1px solid #C1132A;
}
.single-project-button svg path{
    fill: #fff;
}
.single-project-button:hover {
    background: #fff;
    border-color: #000000;
}
.single-project-button svg path{
    transition: all 0.3s ease-in-out;
}

.single-project-button:hover svg path{
    fill: #000000;
}
.single-project-button {
    position: absolute;
    top: 50%;
    left: -160px;
    z-index: 1;
    transform: translateY(-50%);
}
.tp-swiper-button-next.single-project-button{
    right: -160px;
    left: auto;
}
.single-project-item > img {
    width: 100%;
    min-height: 350px;
    object-fit: cover;
}
.single-project-button svg {
    transform: translateX(-4px);
}
.single-project-button.tp-swiper-button-next svg {
    transform: translateX(4px);
}
.single-project-slider{
    overflow: inherit;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #C1132A;
    height: 4px;
    top: -0.5px;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: auto;
    bottom: -37px;
    height: 3px;
}
.swiper-pagination-progressbar {
    background: #D9D9D9;
}
.location-content-wrapper-info {
    padding: 34px 0 65px;
}
.single-project-details{
    padding-top: 124px;
}
.single-project-details{
    max-width: 1208px;
}
.single-project-details h2{
    margin-bottom: 12px;
}


/* single project section end */

/* related project section start */
.related-project-sub-title {
    color: #991627;
    font-family: "Chivo Mono", monospace;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    display: inline-block;
}
.related-projects-area .georgia-btn {
    padding: 16px 39px;
    margin-top: 10px;
}
.related-projects-bg {
    height: 100%;
    width: calc(50% - 252px );
    position: absolute;
    right: 0;
    top: 0;
}
.related-project-content {
    max-width: 704px;
    padding: 80px 0;
}
.related-projects-area{
    margin-bottom: 20px;
}
/* related project section end */

/* footer section start */
.top-footer-wrapper .container {
    max-width: 1578px;
}
.footer-item ul li a {
    color: #fff;
    display: inline-block;
    line-height: 1.3;
    font-weight: 400;
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
    transition: all 0.3s ease-in-out;
}
.footer-item ul li a:hover {
    color: #C1132A;
}

.footer-item .footer-inner-item ul li a,
.footer-item h6 {
    text-transform: uppercase;
    color: #C1132A;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Chivo Mono", monospace;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.footer-item .footer-inner-item ul li a:hover {
    color: #fff;
}

.footer-item h6 {
    margin-bottom:0px;
}
.footer-item > address ,
.footer-item > ul{
    margin-top: 13px;
}

.footer-inner-item ul li {
    margin-bottom: 26px;
}

.footer-inner-item ul li:last-child {
    margin-bottom: 0;
}

.footer-inner-item {
    margin-top: 30px;
}

.footer-item address a {
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    transition: all 0.3s ease-in-out;
}

.footer-item address a:hover {
    color: #C1132A;
}

.contact-item ul li a,
.contact-item ul li .contact-title-info {
    font-size: 18px;
    line-height: 1.5;
    color: #C1132A;
    font-weight: 400;
    display: inline-block;
    font-family: "helvetica-neue-condensed", sans-serif;
}
.contact-item ul li span {
    margin-right: 10px;
}

.contact-item ul li a {
    color: #fff;
    font-size: 16px;
}

.socalis-link {
    gap: 30px;
    margin-top: 12px;
}

.socalis-link svg path {
    transition: all 0.3s ease-in-out;
}

.socalis-link a:hover svg path {
    fill: #fff;
}

.top-footer-wrapper {
    padding: 80px 0 93px;
    border-bottom: 0.5px solid #fff;
    position: relative;
    z-index: 1;
}

.top-footer-wrapper::before {
    content: "";
    position: absolute;
    left: calc(50% - 165px);
    top: 0;
    height: 100%;
    width: 0.5px;
    background-color: #FFF;
}

.main-footer-wrapper .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 22px;
}

.main-footer-wrapper .col-6:first-child .footer-item {
    margin-right: 55px;
}

.main-footer-wrapper {
    padding-left: 112px;
}

.main-footer-wrapper .col:nth-child(1) {
    max-width: 204px;
    margin-right: 32px;
}

.main-footer-wrapper .col:nth-child(2) {
    max-width: 162px;
    margin-right: 39px;
}

.main-footer-wrapper .col:nth-child(3) {
    max-width: 174px;
}

.copy-right-wrapper .container {
    max-width: 1420px;
}

.copy-right-wrapper {
    padding: 27px 0 23px;
}

.other-links a, .copy-right-caption a, .copy-right-caption p {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
}
.copy-right-caption p {
    font-weight: 500;
}

.other-links a {
    text-decoration: underline;
}

.other-links a:hover,
.copy-right-caption a:hover {
    color: #C1132A;
}

.other-links a:hover {
    text-decoration: none;
}

.other-links {
    gap: 35px;
}

.copy-right-wrapper .row {
    --bs-gutter-y: 10px;
}

/* footer section end */



/* popup video section start */
.video-wrapper-area{
    min-height: 808px;
    position: relative;
    z-index: 1;
}
.video-wrapper-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(67, 63, 63, 0.63) 100%);
    z-index: 2;
}
.video-icon-wrapper{
    display: inline-block;
    gap: 21px;
}
.video-caption{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Chivo Mono", monospace;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}
.video-icon {
    height: 116px;
    width: 116px;
    background: #C1132A;
    border-radius: 100%;

}
.video-icon svg{
    transform: translateX(4px);
}

/* popup video section end */


/* our  priority section start*/
.our-priority-area {
    padding: 100px 0;
    background: rgba(240, 240, 240, 0.50);
}
.our-priority-area .container{
    max-width: 1376px;
}
.our-priority-area .row {
    --bs-gutter-x: 44px;
    --bs-gutter-y: 35px;
}
.our-priority-content h4 {
    font-size: 25px;
}
.our-priority-icon {
    height: 239px;
    width: 239px;
    background: rgba(240, 240, 240, 0.50);
    border: 2px solid #C1132A;
}
.our-priority-icon-info {
    background-color: #C1132A;
    height: calc(100% - 26px);
    width: calc(100% - 26px);
}
.our-priority-item{
    gap: 37px;
}
.our-priority-content p {
    max-width: 372px;
}
.our-priority-wrapper {
    margin-top: 68px;
}
/* our  priority section end*/


/* carrer future section start */
.carrer-future-area {
    padding: 100px 0 110px;
}
.carrer-future-area .container{
    max-width: 1396px;
}
.carrer-future-area .row {
    --bs-gutter-x: 0px;
    --bs-gutter-y: 35px;
}
.carrer-future-content {
    max-width: 654px;
}
.carrer-future-area .contact-wrapper {
    max-width: 655px;
    padding-left: 95px;
}
.carrer-future-img-wrapper {
    margin-top: 44px;
}
/* carrer future section end */

/* contact sectoin start */
.contact-area {
    padding: 95px 0 113px;
}
.contact-area .container{
    max-width: 1330px;
}
.contact-area .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 35px;
}
.contact-info label {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
}
.contact-wrapper .georgia-btn{
    margin-top: 8px;
}
.contact-content .contact-item ul li a, 
.contact-content .contact-item ul li .contact-title-info {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
}
.contact-content .contact-item ul li a{
    font-weight: 400;
    color: #000;
}
.contact-content .contact-item ul li a:hover{
    color: #C1132A;
}
.address-info {
    display: flex;
    align-items: start;
    gap: 9px;
    color: #000;
    font-family: "helvetica-neue-condensed", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}
.address-info svg {
    margin-top: 4px;
    flex: 0 0 auto;
}
.address-info address{
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
}
.address-info address:hover{
    color: #C1132A;
}
.direction-btn {
    color: #2484F2;
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: underline;
    display: inline-block;
    padding-left: 25px;
    transition: all 0.3s ease-in-out;
}
.direction-btn:hover{
    color: #C1132A;
    text-decoration: none;
}
.contact-content .contact-item {
    padding-left: 25px;
}
.address-wrapper {
    margin-top: 32px;
    margin-bottom: 26px;
}
.contact-form-wrapper .nice-select,
.contact-form-wrapper .contact-info{
    margin-bottom: 17px;
}
.contact-form-wrapper .contact-info:last-child{
    margin-bottom: 0;
}
.contact-form-wrapper .nice-select:after {
    border-top: 20px solid #C1132A;
}
.contact-form-wrapper  .contact-wrapper{
    border: 1px solid #515151;
    background: #FFF;
    padding: 61px 68px 80px 78px;
}
.contact-form-wrapper .contact-wrapper .georgia-btn {
    margin-top: 17px;
}

.contact-area .col:first-child {
    max-width: 236px;
}
.contact-content {
    padding-left: 27px;
}
.contact-form-wrapper{
    margin-left: 140px;
}
.contact-form-wrapper.shape-a-clip::after, 
.contact-form-wrapper.shape-clip::before {
    height: calc(100% - 403px);
    width: calc(100% - 476px);
}
/* contact  section end */


/* error page section start */
.erro-page-area {
    padding: 191px 0 200px;
}
.error-content h1 {
    color: #C1132A;
    font-size: 271px;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 0;
}
.error-content p {
    color: #000;
    font-family: "helvetica-neue-condensed", sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
}
.error-content .georgia-btn{
    margin-top: 43px;
}

/* error page section end */

/* thank you page section start */
.thank-you-section-area{
    padding: 133px 0 162px;
}
.thank-you-section-area .container {
    max-width: 1414px;
}
.thank-you-contact-info {
    background: #F3F4F5;
    padding: 47px 48px 54px 48px;
}
.thank-you-section-area .row {
    --bs-gutter-x: 176px;
    --bs-gutter-y:35px;
}
.thank-you-content-info {
    max-width: 571px;
}
.thank-you-content-info p{
    margin-bottom: 27px;
}
.thank-you-content .georgia-btn{
    margin-top: 50px;
}
.thank-you-contact-info h4 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
}
.thank-you-contact-info ul li a ,
.thank-you-contact-info ul li{
    color: #000;
    font-family: "helvetica-neue-condensed", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.9;
}
.thank-you-contact-info ul li a{
    font-weight: 400;
}
.thank-you-contact-title svg {
    transform: translateY(-2px);
    display: inline-block;
    margin-right: 7px;
}
/* thank you page section end */

/* application section start */
.application-page-area{
    padding: 234px 0 170px;
}
.application-content{
    max-width: 757px;
}
.application-content h1{
    margin-bottom: 21px;
}
.application-content .georgia-btn{
    margin-top: 41px;
}
/* application section end */