/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/

/* min-width 1500 */
@media (max-width: 1600px) {
    .single-project-button {
        left: -50px;
    }
    .tp-swiper-button-next.single-project-button {
        right: -50px;
        left: auto;
    }
}
/* min-width 1500 */
@media (max-width: 1500px) {
    .title-sticky .container {
        padding-left: 34px;
    }

    .title-section-wrapper {
        right: auto;
        left: 5px;
    }

    /* footer section start */
    .top-footer-wrapper::before {
        left: calc(50% - 100px);
    }

    /* footer section end */
}

/* max-width 1399 */
@media (max-width: 1399.98px) {

    /* about section start */
    .about-img-wrapper .shape-a-clip::after,
    .about-img-wrapper .shape-clip::before {
        height: 350px;
        width: 350px;
    }

    /* about section end */

    /* single project section start */
    .single-project-button {
        left: 10px;
    }
    .tp-swiper-button-next.single-project-button {
        right: 10px;
        left: auto;
    }
    /* single project section end */

    /* cta section start */
    .cta-area .cta-bg.parallax-img{
        width: calc(50% + 0px);
    }

    /* cta section end */

    /* footer section start */
    .top-footer-wrapper::before {
        left: calc(50% - 50px);
    }

    .main-footer-wrapper {
        padding-left: 70px;
    }

    /* footer section end */
}

/* max-width 1199 */
@media (max-width: 1199.98px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* offcanvas */
    .main-menu {
        width: 430px;
    }

    .offcanvas::before {
        width: 50vh;
        height: 50vh;
    }

    /* offcanvas */

    /* content block section start */
    .content-block-item {
        margin-bottom: 80px;
    }

    /* content block section end */
    /* about section start */
    .about-img-wrapper .shape-a-clip::after,
    .about-img-wrapper .shape-clip::before {
        height: 300px;
        width: 300px;
    }

    /* about section end */

    /* single team section start */
    .back-btn-wrapper {
        margin-bottom: 20px;
    }
    /* single team section end */
    /* single project section start */
    .single-project-button {
        height: 70px;
        width: 70px;
    }
    .single-project-button svg {
        transform: translateX(-2px);
        height: 30px;
        width: 30px;
    }
    .single-project-button.tp-swiper-button-next svg {
        transform: translateX(2px);
    }
    /* single project section end */
    /* related project section start */
    .related-projects-bg {
        width: calc(50% - 100px );
    }
    .related-project-content {
        max-width: 550px;
        padding: 80px 0;
    }
    /* related project section end */    




    /* cta section start */
    .cta-area .cta-bg.parallax-img{
        width: calc(50% - 50px);
    }
    .contact-cta .cta-content {
        max-width: 490px;
    }
    .cta-content {
        max-width: 500px;
    }

    .sub-title {
        margin-bottom: 50px;
    }

    /* cta section end */


    /* carrer future section start */
    .contact-wrapper {
        padding-left: 30px;
    }
    /* carrer future section end */

    /* footer section start */
    .footer-logo img {
        max-width: 300px;
    }

    .main-footer-wrapper {
        padding-left: 0px;
    }

    .main-footer-wrapper .col:nth-child(1),
    .main-footer-wrapper .col:nth-child(2),
    .main-footer-wrapper .col:nth-child(3) {
        max-width: 100%;
        margin-right: 15px;
    }

    .top-footer-wrapper::before {
        left: calc(50% - 130px);
    }

    /* footer section end */


}

/* max-width 991 */
@media (max-width: 991.98px) {

    /* heading style */
    .inner-page-content h1 ,
    .map-area h3,
    .banner-content h1,
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 40px;
    }
    .team-info h4 ,
    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 20px;
    }

    /* heading style */
    /* all button */
    .georgia-btn {
        font-size: 18px;
    }

    .banner-content .georgia-btn,
    .right-header-wrapper .georgia-btn {
        padding: 12px 35px;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 21px), calc(100% - 21px) 100%, 0 100%);
    }

    /* all button */

    /* w-100 */
    .industries-content-2 p,
    .industries-content p{
        max-width: 100%;
    }
    /* w-100 */

    /* all padding */
    .carrer-future-area ,
    .our-priority-area ,
    .single-project-content-area ,
    .single-team-area ,
    .about-area,
    .team-area ,
    .section-padding,
    .content-block-area {
        padding: 70px 0;
    }

    /* all padding */

    /* modal section start */
    .modal-wrapper-info {
        padding: 0;
    }

    .modal-content-wrapper {
        max-width: 100%;
        padding: 30px 20px;
    }

    /* modal section end */

    
    /* header  */
    .header-offcanvas.version-2 .main-logo img ,
    .header-sticky .main-logo img ,
    .main-logo img {
        max-width: 280px;
    }
    .header-fix{
        height: 150px;
     }
     .right-header-wrapper {
        gap: 20px;
    }
    /* header  */


    /* banner section start */
    .banner-area.small-banner ,
    .banner-area.about-banner-area {
        min-height: 500px;
        padding: 150px 0;
    }
    
    /* banner section end */

    /* content block section start */
    .content-block-item {
        margin-bottom: 50px;
    }
    .content-block-wrapper p ,
    .content-block-wrapper {
        max-width: 100%;
    }
    .shape-left-top {
        padding-top: 15px;
        padding-left: 15px;
    }
    .shape-right-top {
        padding-top: 15px;
        padding-right: 15px;
    }
    /* content block section end */
    /* about section start */
    .about-img-wrapper .shape-a-clip::after,
    .about-img-wrapper .shape-clip::before {
        height: 250px;
        width: 250px;
    }

    .about-content-wrapper {
        gap: 35px;
    }

    .about-img-wrapper {
        margin-top: 30px;
    }

    .about-img-wrapper img,
    .about-img-wrapper .about-video-item {
        height: 350px;
    }
    .about-content-info .georgia-btn {
        padding: 15px 25px;
    }
    .about-content-info p {
        margin-bottom: 18px;
    }
    .about-content h2 {
        margin-bottom: 12px;
    }
    /* about section end */

    /* single team section start */
    .single-team-wrapper .col:nth-child(1),
    .single-team-wrapper .col{
        max-width: 100%;
        flex-basis: 100%;
    }
    .single-team-information {
        max-width: 100%;
        padding-left: 0;
    }
    .team-member-info {
        margin-bottom: 15px;
    }
    .team-member-content-info ,
    .team-content-inner-info p {
        margin-bottom: 15px;
    }
    .team-timeline-wrapper {
        margin-top: 35px;
    }
    .single-team-wrapper {
        margin-bottom: 40px;
    }
    .pagination-wrapper {
        padding-top: 25px;
    }
    .pagination-btn {
        font-size: 20px;
        gap: 15px;
    }
    .svg-icon {
        height: 40px;
        width: 40px;
    }
    .svg-icon svg {
        height: 15px;
        width: 15px;
    }
    /* single team section end */


    /* single project section start */
    .location-content-wrapper-info {
        padding: 15px 0 40px;
    }
    .location-content-info {
        max-width: 100%;
    }
    .location-content-wrapper-info .row {
        --bs-gutter-y: 15px;
    }
    .single-project-button {
        height: 50px;
        width: 50px;
    }
    .single-project-button svg {
        transform: translateX(-2px);
        height: 20px;
        width: 20px;
    }
    .single-project-button.tp-swiper-button-next svg {
        transform: translateX(2px);
    }
    .single-project-details {
        padding-top: 60px;
    }
    /* single project section end */
    /* related project section start */
    .related-project-content {
        max-width: 400px;
        padding: 50px 0;
    }
    .related-projects-bg {
        width: calc(50% - 50px );
    }
    /* related project section end */    


    /* cta section start */
    .modal-bg,
    .cta-area .cta-bg.parallax-img{
        width: 100%;
        position: static;
        height: 400px;
    }
    .contact-cta .cta-content  ,
    .cta-content {
        max-width: 100%;
        padding: 30px 0 50px;
    }

    .sub-title {
        margin-bottom: 15px;
    }

    .sub-title span {
        padding-right: 15px;
    }

    /* cta section end */

    /* team section start */
    .team-info.text-center p {
        font-size: 20px;
    }
    .team-member-wrapper .row {
        --bs-gutter-x: 25px;
        --bs-gutter-y: 35px;
    }
    .team-member-wrapper {
        margin-top: 35px;
    }
    /* team section end */

    /* popup video section start */
    .video-wrapper-area {
        min-height: 500px;
    }
    /* popup video section end */


   /* our  priority section start*/
    .our-priority-wrapper {
        margin-top: 35px;
    }
    .our-priority-item {
        gap: 20px;
    }
    /* our  priority section end*/



    /* carrer future section start */
    .carrer-future-content {
        max-width: 100%;
    }
    .contact-wrapper {
        max-width: 100%;
        padding-left: 0;
    }
    .carrer-future-img-wrapper {
        margin-top: 25px;
    }
    /* carrer future section end */


    /* footer section start */
    .top-footer-wrapper::before {
        display: none;
    }

    .main-footer-wrapper {
        padding-left: 0px;
    }

    .top-footer-wrapper {
        padding: 50px 0;
    }

    .footer-inner-item {
        margin-top: 10px;
    }

    .footer-inner-item ul li {
        margin-bottom: 10px;
    }

    /* footer section end */


}

/* max-width 767 */
@media (max-width: 767.98px) {

    /* heading style */
    .team-member-info h1 ,
    .inner-page-content h1 ,
    .location-content-title h1 ,
    .map-area h3,
    .banner-content h1,
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 35px;
    }
    .team-info h4 ,
    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 22px;
    }

    /* heading style */


    /* offcanvas */
    .offcanvas-header ,
    .header-offcanvas.version-2  .offcanvas-header {
        padding: 0;
        padding-top: 48px;
    }
    .offcanvas-footer {
        padding: 0;
        padding-bottom: 50px;
    }

    /* offcanvas */

    /* all padding */
    .carrer-future-area ,
    .our-priority-area ,
    .single-project-content-area ,
    .single-team-area ,
    .about-area,
    .team-area ,
    .section-padding,
    .content-block-area {
        padding: 50px 0;
    }
    /* all padding */

    /* header section start */
    .header-wrapper {
        padding: 12px 0;
    }
    .header-sticky .header-wrapper {
        padding: 12px 0;
    }
    .header-fix {
        height: 134px;
    }
    /* header section end */

    /* banner section start */
    .banner-area {
        padding: 130px 0;
    }
    /* banner section end */



    /* about section start */
    .about-img-wrapper .shape-a-clip::after,
    .about-img-wrapper .shape-clip::before {
        height: 180px;
        width: 180px;
    }
    .about-img-wrapper .about-video-item,
    .about-img-wrapper img {
        min-height: 300px;
    }
    /* about section end */


    /* single team section start */
    .timeline-title, .team-member-info  p {
        font-size: 25px;
    }
    .team-timeline-wrapper {
        padding: 20px;
    }
    .team-timeline-wrapper ul li {
        line-height: 1.5;
        margin-bottom: 12px;
    }
    .team-timeline-wrapper ul li:last-child{
        margin-bottom: 0;
    }
    /* single team section end */
    /* related project section start */
    .related-projects-bg {
       width: 100%;
       height: 300px;
       position: static;
       top: 0;
    }
    .related-project-content {
        max-width: 100%;
    }
    .single-project-logo img {
        max-width: 120px;
    }
    /* related project section end */  

    /* our  priority section start */
    .our-priority-icon {
        height: 180px;
        width: 180px;
    }
    .our-priority-icon  svg {
        height: 80px;
        width: 80px;
    }
    /* our  priority section end */





    /* footer section start */
    .other-links {
        gap: 15px;
    }

    /* footer section end */

}

/* max-width 575 */
@media (max-width: 575.98px) {

    /* heading style */
    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    /* heading style */

    /* header section start */
    .menu-toogle {
        font-size: 18px;
    }

    /* header section end */
    .banner-area.small-banner ,
    .banner-area.about-banner-area {
        min-height: 400px;
        padding: 100px 0;
    }
    /* banner section end */

    /* content block section start */
    .shape-clip::before {
        height: 250px;
        width: 250px;
    }

    /* content block section end */


    /* about section start */
    .about-img-wrapper .about-video-item,
    .about-img-wrapper img {
        min-height: 200px;
    }

    /* about section end */

    /* popup video section start */    
    .video-wrapper-area {
        min-height: 400px;
    }
    /* popup video section end */    

    /* our  priority section start */
    .our-priority-icon {
        height: 130px;
        width: 130px;
    }
    .our-priority-icon  svg {
        height: 50px;
        width: 50px;
    }
    /* our  priority section end */



    /* footer section start */
    .main-footer-wrapper .col:nth-child(3),
    .main-footer-wrapper .col:nth-child(2),
    .main-footer-wrapper .col:nth-child(1) {
        margin-right: 0px;
        max-width: 100%;
        flex-basis: 50%;
    }
    /* footer section end */


}

/* max-width 479 */
@media (max-width: 479.98px) {

    /* section title */
    .section-title {
        font-size: 16px;
    }

    /* section title */
    /* header section start */
    .header-offcanvas.version-2 .main-logo img ,
    .header-sticky .main-logo img ,
    .main-logo img {
        max-width: 180px;
    }
    .header-fix {
        height: 108px;
    }
    /* header section end */


    /* single team section start */
    .single-team-img.shape-a-clip::after, .single-team-img.shape-clip::before {
        height: 280px;
        width: 280px;
    }
    /* single team section end */

    /* content block section start */
    .shape-clip::before {
        height: 200px;
        width: 200px;
    }

    .shape-left-top {
        padding-top: 12px;
        padding-left: 12px;
    }

    .shape-right-top {
        padding-top: 12px;
        padding-right: 12px;
    }

    .shape-right-bottom {
        padding-right: 12px;
        padding-bottom: 12px;
    }

    /* content block section end */


    /* related project section start */
    .single-project-logo img {
        max-width: 100px;
    }
    /* related project section end */  



}

/* max-width 383 */
@media (max-width: 383.98px) {

    /* header section start */
    .menu-toogle {
        font-size: 16px;
        gap: 10px;
    }

    /* header section end */
    /* related project section start */
    .single-project-logo img {
        max-width: 80px;
    }
    .single-project-item > img {
        min-height: 280px;
    }
    /* related project section end */  
    /* footer section start */
    .footer-logo img {
        max-width: 250px;
    }

    .main-footer-wrapper .col:nth-child(3),
    .main-footer-wrapper .col:nth-child(2),
    .main-footer-wrapper .col:nth-child(1) {
        flex-basis: 100%;
    }

    /* footer section end */
}